<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://www.solidtecnologia.com.br/wp-content/uploads/2022/12/cropped-Favicon-Solid-32x32.png" type="image/x-icon">
  </head>
  <body>
    <%- include('page/login') %>
  </body>
</html>
