<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Meu CSS -->
    <link rel="stylesheet" href="/css/inicial.css" />
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- logo Icon -->
    <link rel="shortcut icon" href="https://www.solidtecnologia.com.br/wp-content/uploads/2022/12/cropped-Favicon-Solid-32x32.png" type="image/x-icon">
  </head>
  <body>
    <%- include('page/main-inicial') %>
  </body>
</html>
